#content {
    margin-left: 2em;
}

#bingo {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: smaller;
    margin-right: 20px;
}

#bingo td {
    background-color: #000000;
    border:1px solid var(--main-color);
    padding: 0.2em;
    text-align: center;
    cursor: pointer;
}

#bingo td#tlbr, #bingo td#bltr {
    width: 4em;
    height: 1.5em;
    font-weight: bold;
}

#bingo td.popout-row {
    width: 4em;
    font-weight: bold;
}

#bingo td.popout-col {
    height: 4em;
    font-weight: bold;
}

#bingo td.popout, #bingo td.popout-row, #bingo td.popout-col {
    font-size: smaller;
}

#bingo td {
    width: 95px;
    height: 90px;
}

#bingo td:hover, #bingo td.hover {
    background-color:rgba(32,32,32,0.5);
}

#bingo td.popout:hover, #bingo td.popout-col:hover, #bingo td.popout-row:hover {
    background-color:rgba(64, 64, 64, 0.5);
}

#bingo td.c_1 {
    background-color:rgba(0,128,0,0.5);
}
#bingo td.c_1:hover, #bingo td.c_1.hover {
    background-color:rgba(32,160,32,0.5);
}

#bingo td.c_2 {
    background-color:rgba(128,0,0,0.5);
}
#bingo td.c_2:hover, #bingo td.c_2.hover {
    background-color:rgba(160,32,32,0.5);
}

#bingo td.c_3 {
    background-color:rgba(0,0,128,0.5);
}
#bingo td.c_3:hover, #bingo td.c_3.hover {
    background-color:rgba(32,32,160,0.5);
}

#results p {
    text-align: right;
}

#bingoPage a.sortButton {
    color: var(--sub-color);
    background-color: #cccccc;
    display: inline-block;
    border:1px solid #bbbbbb;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    transition: background-color 1s ease;
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: none;
}

#bingoPage a.sortButton:hover {
    background-color: #ffffff;
}

#credit {
    font-size: smaller;
    text-align: right;
}